:root {
    --white: #fff9f3;
    --brown: #DAC0A3;
    --blue: #102C57;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: var(--blue);
    background-color: var(--white);
    margin: 0;
    padding: 20px 30px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


main {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #102C57;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px#DAC0A3;
    padding-bottom: 30px;
    margin-top: 15px;
    border-bottom: 1px solid var(--brown);
}


/* Ici commence le Header ************************************************ */
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleName {
    font-size: 1.6rem;
    font-weight: 300;
}

.navBar {
    background-color: var(--brown);
    padding: 10px 15px 6px;
    border-radius: 100px;
}

.navLinks {
    display: none;
}

.burgerMenu {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.burgerMenu > img {
    width: 100%;
}

/* Ici commence le main content de l'index.html ******************************* */


.flexIndex {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    margin: 15px 0;
}

.flexIndex > img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    margin-right: 30px;
    box-shadow: 10px 10px var(--brown);
}

.textIndex {
    margin-top: 20px;
}

.textIndex > h2 {
    font-size: 1.9rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px#DAC0A3;
}

.textIndex>p {
    font-size: 1.1rem;
}

/* Ici commence le main content de la page contact ********************************* */

.contactExperiencesListItem {
    margin-top: 50px;
}

.contactExperiencesListItem h3, .contactExperiencesListItem h2 {
    font-size: 1.9rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px#DAC0A3;
}

.contactExperiencesListItem p {
    font-size: 1.2rem;
    overflow-wrap: anywhere;
}


form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

form > p {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}

form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textLabels {
    font-size: 1.7rem;
    font-weight: 500;
}

.formInputs {
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0 20px;
    border: 3px solid var(--brown);
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

::placeholder {
    color: var(--blue);
    opacity: 0.5; /* Firefox */
}

textarea {
    height: 150px;
}

.radioInputs h2{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 30px 0 20px;
}

.radioInputs div {
    margin-bottom: 15px;
}

.radioInputs label {
    font-size: 1.3rem;
}

.radioInputs input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    background-color: white;
    border: 2px solid var(--brown);
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 2px;
}

.radioInputs input:checked {
    border: 6px solid var(--brown);
}

/* Customize the label (the container) */
.containerCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px 0 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    
    border: 2px solid var(--brown);
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
    background-color: var(--brown);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.formButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formButton {
    background-color: var(--brown);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 20px;
    color: var(--blue);
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    box-shadow: 7px 7px #9b8062;
}



/* Ici commence le main content de la page diplômes **************************** */

.diplomesList {
    font-size: 1.3rem;
    font-weight: 500;
    list-style-type: disc;
    margin: 0 0 40px 50px;
}

.diplomesList li {
    margin-top: 40px;
}

/* Ici commence la page Expérience *********************** */

.reconversionText {
    font-size: 1.2rem;
}

/* Ici commence la page project ********************************************* */

td {
    display: block;
}

.tableFlex {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

table img {
    width: 200px;
    height: 120px;
    margin-right: 20px;
    box-shadow: 5px 5px#DAC0A3;
    border-radius: 12px;
}

table h2 {
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px#DAC0A3;
}

table p {
    font-size: 1rem;
    margin: 10px 0 0;
}

/*  Ici commence la page hobbby ********************************************** */

.hobbyFlex {
    display: flex;
    flex-direction: column;
}

.hobbyFlex article {
    margin: 50px 0 0;
}

.hobbyFlex h2 {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px#DAC0A3;
}

.hobbyFlex p {
    font-size: 1.3rem;
}

.hobbyFlex iframe {
    width: 80vw;
    height: 50vw;
    border: none;
}

/* Ici commence le footer ************************************************* */

footer {
    margin-top: 50px;
    border-top: 1px solid var(--brown);
}

.footerLogos img {
    width: 40px;
    margin: 20px 40px 0 0;
}

/* Ici commence le menu déroulant ************************************************* */

.phoneMenu {
    background-color: var(--brown);
    font-size: 2.3rem;
    font-weight: 400;
}

.phoneMenu>header {
    text-align: right;
}

.phoneMenu img {
    width: 40px;
    margin: 10px 15px 6px;
}

.phoneMenu li {
    text-align: center;
    padding: 30px 0;
}

.underline {
    border-bottom: 1px solid var(--blue);
}



/* Ici commence les media queries *********************************************** */

@media only screen and (min-width: 375px) {
    .titleName {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 425px) {
    h1 {
        font-size: 3rem;
        text-shadow: 3px 3px 3px#DAC0A3;
    }

    .tableFlex {
        flex-direction: row;
    }
    
    table img {
        width: 150px;
        height: 100px;
    }

    table h2 {
        margin-top: 0;
    }

    .diplomesList {
        font-size: 1.5rem;
    }

    .experiencesList h2 {
        font-size: 2rem;
    }

    .hobbyFlex h2 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 768px) {

    h1 {
        margin-top: 30px;
    }

    td {
        display: table-cell;
    }

    .tdMargin {
        padding-right: 20px;
    }

    table h2 {
        font-size: 1.52rem;
    }

    /* Ici commence l'index *************************** */

    .flexIndex {
        flex-direction: row;
        justify-content: space-between;
    }

    .flexIndex>img {
        width: 200px;
        height: 250px;
    }

    .textIndex {
        width: 70%;
        margin-right: 15px;
    }

    .textIndex > h2 {
        font-size: 2rem;
    }

    .textIndex>p {
        font-size: 1.2rem;
        margin-top: 30px;
    }

    /* Ici commence la page contact ****************** */

    .contactExperiencesListItem {
        display: flex;
        align-items: center;
    }

    .contactList h3 {
        min-width: 250px;
        font-size: 2rem;
    }

    .contactList p {
        font-size: 1.5rem;
    }

    .formButton {
        padding: 10px 70px;
    }

    /* Ici commence la page Expérience *********************** */

    .experiencesList h2 {
        min-width: 280px;
        font-size: 1.8rem;
    }

    /* Ici commence la page hobby ****************** */

    .hobbyFlex {
        flex-direction: row;
    }

    .hobbyFlex>article {
        margin-right: 20px;
    }

    .hobbyFlex h2 {
        font-size: 2.2rem;
    }

    .hobbyFlex p {
        font-size: 1.3rem;
    }

    .hobbyFlex iframe {
        width: 40vw;
        height: 25vw;
    }

}

@media only screen and (min-width: 1024px) {

    /* Ici commence le header ************************ */
    .navBar {
        padding: 15px 30px;
        border-radius: 100px;
    }

    .navLinks {
        display: flex;
        width: 650px;
        font-size: 1.2rem;
        font-weight: 600;
        justify-content: space-between;
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    .burgerMenu {
        display: none;
    }

    /* Ici commence l'index *************************** */

    .flexIndex>img {
        width: 220px;
        height: 280px;
    }

    /* Ici commence la page projet ****************** */


    .tableFlex {
        margin-top: 70px;
    }

    table img {
        width: 250px;
        height: 150px;
    }

    table h2 {
        font-size: 1.779rem;
        font-weight: 600;
        text-shadow: 2px 2px 2px#DAC0A3;
    }

    table p {
        font-size: 1.1rem;
    }



    /* Ici commence la page diplôme ****************** */
    

    /* Ici commence la page expériences ****************** */

    .contactExperiencesListItem {
        display: flex;
        align-items: center;
    }

    .reconversionText {
        font-size: 1.7rem;
        margin-left: 50px;
        margin-right: 50px;
    }


    /* Ici commence la page contact ****************** */

    .contactList h3 {
        min-width: 330px;
    }

    .textInputsFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .textInputs, .labelTextarea {
        width: 48%;
    }

    .textarea {
        height: calc(100% - 63px);
    }


    /* Ici commence la page hobby ****************** */

    .hobbyFlex iframe {
        width: 30vw;
        height: 18vw;
    }
}